extends layout
block content
    div.container-fluid
        table(
            data-toggle='table'
            class='table table-striped table-bordered'
            data-search='true'
            data-pagination='true'
            )

            thead
                if typeof Headings !== 'undefined'
                    - var items = JSON.parse(Headings.get('data'));
                    each value in items
                        th(data-sortable='true')= value
            tbody
                - var index = 0;
                each record in CsvData
                    tr
                        - var items = JSON.parse(record.get('data'));

                        if index == 0
                            - index = 1
                        else
                            each value in items
                                td= value

        script(src='/libs/jquery/dist/jquery.min.js')
        script(src='/libs/bootstrap-table/dist/bootstrap-table.min.js')
